.link-list {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  padding: 10px; 
}

.draggable-item {
  border-radius: 8px; 
  padding: 12px; 
  transition: transform 0.1s ease; 
  cursor: grab; 
}

.draggable-item:active {
  cursor: grabbing;
}


.placeholder {
  border: 1px dashed #aaa; 
  height: 50px;
  border-radius: 8px; 
}
